{% extends "base.html" %}
{% block content %}
<diV class="card mb-3 mt-3">
    <div class="row g-0">
        <div>
            <div class = "card-body">
                <h5 class = "card-title">Sign Up an Employee</h5>
                <p class = "card-text text-warning">If you need to sign up a manager, contact Inventech Analytics team</p>
                {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <p class="card-text">
                    <form method="POST">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <button type="submit" class="btn btn-classic mb-0">
                            Sign Up
                        </button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<a class="btn btn-classic" href="{% url 'home' %}" role="button">Go back</a>
{% endblock content %}