{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center">Operations analytics based graphics</h2>
    <br>
    <div class="row">        
        <!-- Tarjeta 1: Sales per product -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Sales per product</h5>
                </div>
                <div class="card-body text-center">
                    <img src="data:image/png;base64,{{ graphic }}" alt="Sales per product chart" class="img-fluid">
                </div>
            </div>
        </div>

        <!-- Tarjeta 2: Expirations per product -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Expirations per product</h5>
                </div>
                <div class="card-body text-center">
                    <img src="data:image/png;base64,{{ graphic2 }}" alt="Expirations per product chart" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <br>
    <a class="btn btn-classic" href="{% url 'home' %}" role="button">Go back</a>
</div>

{% endblock content %}
